.browse_table
{
	width: 550px;
	border: 1px solid black;
}

.browse_table thead th
{
	background-color: #AAA;
	color: #000;
	text-align: center;
}

.browse_table tbody td
{
	text-align: center;
	vertical-align: top;
	background-color: #DCFFD7;
	color: #149500;	
}

/****************/

.entry_table
{
	width: 590px;
	border: 1px solid black;
}

.entry_table thead th
{
	background-color: #AAA;
	color: #000;
	text-align: left;
}

.entry_table tbody th
{
	background-color: #AAA;
	color: #000;
	text-align: left;
}

.entry_table tbody td
{
	text-align: left;
	font-weight: bold;
	font-size: 15px;
	vertical-align: top;
	background-color: #DCFFD7;
	color: #013D00;	
}

.entry_table td textarea
{
	
}

/****************/

.comment_table
{
	width: 300px;
	border: 1px solid black;
}

.comment_table thead th
{
	background-color: #AAA;
	color: #000;
	text-align: left;
}

.comment_table tbody th
{
	background-color: #AAA;
	color: #000;
	text-align: left;
}

.comment_table tbody td
{
	text-align: left;
	font-weight: bold;
	font-size: 15px;	
	vertical-align: top;
	background-color: #DCFFD7;
	color: #013D00;	
}

/****************/

.comment_form_table
{

}

.comment_form_table textarea
{
	width: 280px;
	height: 100px;
}