{% extends "public_site/base.html" %}
{% block title %}{% endblock %}
{% block script %}{% endblock %}

{% block headstuff %}
	<link href="{{STATIC_URL}}/public_site/css/home.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<h3>The Possibility of Living a Healthy Lifestyle</h3>
<div class="large_inner_box">
	<div class="large_inner_box_head">
	</div>
	<div class="large_inner_box_body">
		<div class="large_relocate">
			<h1>Sometimes we need just a little nudge to get us out to the gym, or a little encouragement to eat healthy.  That's the premise behind "Find Your Fitness" - to build a strong, secure community that lives for wellness.  We offer the possibility to you to live a long, healthy, and happy life.  You'll find inspiration, motivation, advice, and if there's something else we could provide, let us know!</h1><br />
			<ul>
				<li>Select members to follow, track progress, and support</li>
				<li>Set a goal, track your progress, and blog about what you're going through</li>
				<li>Offer and take suggestions and advice from people that arn't trying to sell anything!</li>
				<li>Share within a secure community of other 'health-seekers' and health professionals</li>
				<li>Be involved in community events</li>
				<li>View articles posted by members and health professionals on a variety of subjects such as nutrition and exercise</li>
			</ul>
		</div>
	</div>
	<div class="large_inner_box_foot">
	</div>
</div>
{% endblock %}


{% block rightbar %}
{% endblock %}

