{% extends "public_site/base.html" %}
{% block title %}{% endblock %}
{% block script %}{% endblock %}
{% block headstuff %}
	<link href="{{STATIC_URL}}/public_site/css/home.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block content %}

<h3>Exercise</h3>

<div class="large_inner_box">
	<div class="large_inner_box_head">
	</div>
	<div class="large_inner_box_body">
		<div class="large_relocate">
			<h1>Inspiration</h1>
			<p>Feeling a loss of will-power?</p>
			<p>Check <a href="http://www.youtube.com/watch?v=Gc4HGQHgeFE">this</a> guy out.</p>
		</div>
	</div>
	<div class="large_inner_box_foot">
	</div>
</div>


<div class="inner_box p_left_side">
	<div class="inner_box_head">
	</div>
	<div class="inner_box_body">
		<div class="relocate">
			<h1>Exercise</h1>
			<br />
			<p><a href="http://www.cdc.gov/physicalactivity/everyone/guidelines/adults.html">Here are some good guidelines about beginning an adequate exercise regimen.</a></p>
		</div>
	</div>
	<div class="inner_box_foot">
	</div>
</div>


<div class="inner_box p_right_side">
	<div class="inner_box_head">
	</div>
	<div class="inner_box_body">
		<div class="relocate">
			<h1>Exercise</h1>
			<br />
			<p>Why exercise?</p>
			<br />
			<object width="260"><param name="movie" value="http://www.youtube.com/v/BFfd_oNVTcw?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/BFfd_oNVTcw?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="260"></embed></object>
		</div>
	</div>
	<div class="inner_box_foot">
	</div>
</div>

<div class="clear_this"></div>


{% endblock %}





{% block rightbar %}
{% endblock %}

