{% extends "public_site/base.html" %}
{% block title %}{% endblock %}
{% block script %}{% endblock %}

{% block content %}

<h3>Our Health Professionals</h3>
<div id="about">
	<p>Lorem ipsum  dolor sit amet, consectetuer adipiscing elit. Morbi justo. Cras nunc est, vehicula nec, tristique sed, congue nec, lorem. Suspendisse quam purus, blandit id, dapibus non, consequat vel, lectus. Quisque  pulvinar nunc. Maecenas enim massa, laoreet id, semper a, facilisis eget, tortor. Sed quis ante. Morbi venenatis malesuada nisi. Duis sodales nibh et libero. Maecenas fermentum blandit tellus. Suspendisse potenti. Nulla iaculis, nulla ut auctor porttitor, est mi egestas elit, non sodales nulla justo scelerisque neque. Nam sollicitudin ullamcorper leo. Phasellus mattis. Nam eu lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>

</div>
{% endblock %}


{% block rightbar %}
{% endblock %}

