{% extends "public_site/base.html" %}
{% block title %}{% endblock %}
{% block script %}{% endblock %}

{% block headstuff %}
	<link href="{{STATIC_URL}}/public_site/css/home.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<div class="large_inner_box">
	<div class="large_inner_box_head">
	</div>
	<div class="large_inner_box_body">
		<div class="large_relocate">
			<h1>News and Events</h1>
			<ul>
				<li>Coming Soon!</li>
			</ul>
		</div>
	</div>
	<div class="large_inner_box_foot">
	</div>
</div>
{% endblock %}


{% block rightbar %}
{% endblock %}

