{% extends "public_site/base.html" %}
{% block title %}{% endblock %}
{% block script %}{% endblock %}

{% block headstuff %}
	<link href="{{STATIC_URL}}/message/css/message.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}


{% block helpdiv %}
<div id="helpButton" class="my-ui-corner-all">Help...</div>
<div id="helpDiv" class="my-ui-corner-all">
	<p>Any text you send in this form will show up in the "Shout Out!" display to the right.</p>
	<p>Provide encouragement, talk about your goals, give us some news - your community would love to hear from you!</p>
</div>
<div class="clear_this"></div>
{% endblock %}


{% block content %}

<form method="POST" action="">
	{% csrf_token %}
	<table>
		<tbody>
			<tr>
				<td>Say something:</td><td>{{form.text.errors}}{{form.text}}</td>
			</tr>
		</tbody>
	</table>
	<input type="submit"/>
</form>

{% endblock %}


