{% extends "public_site/base.html" %}
{% block title %}{% endblock %}
{% block script %}{% endblock %}

{% block headstuff %}

	<!--<link rel="stylesheet" href="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.css" type="text/css" />-->
	<link rel="stylesheet" href="http://jquery.bassistance.de/autocomplete/jquery.autocomplete.css" type="text/css" />



	<link href="{{STATIC_URL}}/blog/css/blog.css" rel="stylesheet" type="text/css" media="screen" />

  <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.bgiframe.min.js"></script>
  <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.dimensions.js"></script>
  <!--<script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js"></script>-->

  <script type="text/javascript" src="http://jquery.bassistance.de/autocomplete/jquery.autocomplete.js"></script>


<script type="text/javascript" src="{{STATIC_URL}}/public_site/js/jquery_autocomplete.js"></script>


{% endblock %}

{% block helpdiv %}
<div id="helpButton" class="my-ui-corner-all">Help...</div>
<div id="helpDiv" class="my-ui-corner-all">
	<p>Write a new message in the large box provided.  You will also need to provide a title.</p>
</div>
<div class="clear_this"></div>
{% endblock %}

{% block content %}

<form method="POST" action="">
	<table class="entry_table">
		<thead>
			<tr>
				<th>New Message</th><th rowspan="2"><span class="p_right_side">Who are you writing to?{{form.to_member}}{{form.to_member.errors}}<p style="font-size: 10px"><em>case-sensitive</em></p></span></th>
			</tr>
			<tr>
				<th colspan="2">Title: {{form.title}}{{form.title.error}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="2">{{form.text.error}}{{form.text}}</td>
			</tr>
		</tbody>
	</table>
	<input type="submit"/>
</form>

{% endblock %}


